@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}

body {
    background-color: #FDFDF4;
}

#logo {
    color: #004E89;
}

li, a {
    color: #1A659E;
    font-weight: bold;
    text-decoration: none;
}

#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  30px 5%;
    border-bottom: 1.5px solid #004E89;
    margin-left: 50px;
    margin-right: 50px;
}

.nav-links {
    position: relative;
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 30px;
}

.nav-links a {
    transition: all 0.3 ease 0s;
}

.nav-links a:hover {
    color: #004E89;
}

.nav-links img {
    width: 22px;
    color: #004E89;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #87CEEB;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li, a {
    width: 100%;
}

@media (max-width: 800px) {
    .hide_mobile {
        display: none;
    }
}

@media (min-width: 800px) {
    #hide_desktop {
        display: none;
    }
}

main {
    padding: 5% 5%;
    color: #004E89;
}

.content {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content .main-text,
.content #yellow-cat {
    margin: 3%; 
}

#paw-prints img {
    width: 50px; 
    height: auto;
}

/* .main-container {
} */

.main-container #article-header {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-left: 0.5em;
    padding: 1%;
    width: 25vw;
}

#article-header img {
    width: 2vw;
    margin: 0 15px 0 15px;
}

.cards {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15px;
}

.card {
    text-align: center;
    border: 1px solid #ccc;
    margin: 10px;
    width: 20vw;
    height: 55vh;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.cart-button {
    border-radius: 15px;
    border: none;
    padding: 0.5rem;
    color: #004E89;
    font-weight: 800;
    cursor: pointer;
}

.card img {
    width:  300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.image-container {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(233, 185, 114, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover .overlay {
    opacity: 1;
}

.card-content p {
    padding: 15px;
}

.card-content h4 {
    font-weight: lighter;
}


.card-content .price {
    font-weight: 900;
    color: #FF6B35;
    text-align: left;
}

.card-content .tag {
    font-weight: 800;
    font-size: 0.85rem;
    text-align: right;
}

footer {
    background-color: #F8F0DB;
    width: 100%;
    height: 30vh;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem 3.5rem;
    color: #004E89;
    font-weight: 800;
}

/* Cart */

.cart {
    position: fixed;
    top: 0;
    left: 100%;
    width: 500px;
    height: 100vh;
    background-color: #FDFDF4;
    border-left: 1px solid #004E89;
    transition: 0.5s ease-in-out;
    overflow-y: auto;
    padding: 20px;
    z-index: 1000;
}

.cart h1 {
    font-size: x-large;
    color: #004E89;
}

.checkout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.total {
    font-size: 20px;
    font-weight: bold;
    color: #004E89;
}

.checkout-bttn {
    cursor: pointer;
    font-size: 0.85em;
    color: #004E89;
    border: 2px solid #004E89;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.checkout-bttn:hover {
    background-color: #004E89;
    color: #fff;
}

.close-shopping {
    cursor: pointer;
}

.shopping {
    position: relative;
    cursor: pointer;
}

.shopping span {
    position: absolute;
    top: -25px;
    margin-left: 18px;
    background: #FF6B35;
    padding: 3px 10px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active .cart {
    left: calc(100% - 500px);
}

.cart-item {
    display: flex;
    align-items: center; 
    margin-top: 5%;
    padding-bottom: 5px;
    border-bottom: solid 1px #ccc;
}

.cart-content {
    max-height: 400px;
    overflow-y: auto;
}

.item-details {
    display: flex;
    align-items: center;
}

.item-details img {
    width: 70px; 
    height: 70px;
    border-radius: 5px;
}

.item-details p {
    font-size: 16px;
    font-weight: 800;
    padding-left: 10px;
}

.item-text {
    text-align: right;
    margin-left: 12rem;
}

.item-text h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

.item-text p {
    font-size: 14px;
    margin: 0 !important;
}


/* Modal */

.modal {
    display: none;
}

#pix {
    display: none;
    text-align: center;
}

#credit-card {
    display: none;
    text-align: center;
}

.modal.active {
    margin-top: 3%;
    text-align: center;
}

.modal.active h2 {
    font-size: 16px;
}

.payment-options {
    margin-top: 3%;
}

.payment-method {
    cursor: pointer;
    font-size: 0.85em;
    color: #004E89;
    border: 2px solid #004E89;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.payment-method:hover {
    background-color: #004E89;
    color: #fff;
}

input {
    margin-top: 2%;
    border: 1px solid #004E89;
    border-radius: 10px;
    padding: 8px;
}

input[type="submit"] {
    cursor: pointer;
    font-size: 0.85em;
    color: #004E89;
    border: 2px solid #004E89;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #004E89;
    color: #fff;
}
